@highlight0: #f9bac4;
@highlight1: #f8981d;
@highlight2: #91d4d1;
@highlight3: #d2e5eb;
@highlight4: #c4add8;

@default-text: #333;
@light-grey: #d9d9d9;
@dark-grey: #838383;

@orange: #f8981d;
@red: #b53f3f;

@mist: rgba(255,255,255,0.7);

.highlight0{
  background-color: @highlight0;
  color: @default-text !important;
}
.highlight1{
  background-color: @highlight1;
  color: @default-text !important;
}
.highlight2{
  background-color: @highlight2;
  color: @default-text !important;
}
.highlight3{
  background-color: @highlight3;
  color: @default-text !important;
}
.highlight4{
  background-color: @highlight4;
  color: @default-text !important;
}
