.sense-search-results-container{
  .sense-search-results{
    padding: 10px 0px;
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .sense-search-result-cell{
      display: inline-block;
    }
  }
}
